<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1> Player <%= player.title %></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/players">Players Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <!-- <-- Put body of article Here -> -->
        <p> <%= player.playerInfo %></p>
        <a href="/players/<%=player.id%>/edit">Edit</a>
      </section>
      
      <section>
  <!--        <-- Set Up delete form here -> -->
        <form action="/players/<%=article.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Player"/>
        </form>
      </section>
    </main>
  </body>
</html>
