<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Edit <% team.name%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/teams">Teams Index</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Team Attributes</h2>
    <form action="/teams/<%=team.id%>?_method=PUT" method="POST">
      <input type="text" name="name" value="<%=team.name%>"><br>
      <input type="text" name="city" value="<%=team.city%>"><br>
      <button type="submit">Update Team</button>  
    </form>
  </main>
</body>
</html>