<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Teams</h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/teams/new">Create New Team</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>List of Teams</h2>
    <ul>
      <% for (let i =0; i <teams.length; i++) { %>
        <li><a href="/teams/<%=teams[i].id%>"> Da <%=teams[i].name%> from <%=teams[i].city%></a></li>
        <% } %> 
    </ul>
  </main>

</body>
</html>