<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Create an Team</h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/teams">Teams Index</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/teams" method="POST">
      <input type="text" name="name" value="Team Name">  
      <input type="text" name="city" value="City"> 
      <button type="submit">submit</button>
    </form>

  </main>

</body>
</html>