<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
  <h1>Welcome to NFL Teams</h1>

  <nav>
    <ul>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/players">players</a></li>
    </ul>
  </nav>
  </header>
</body>
</html>